.modal.hide.fade#about{:style => "display: none;"}
  .modal-header
    %a{:class => "close", :"data-dismiss" => "modal", :href => "#"}
      &times;
    %h2
      = t("titles.about")
  .modal-body
    %ol
      %li
        %h3
          About
        %p
          Encourage adoption of an open access policy at your institution by declaring your interest, meeting like-minded individuals and coordinating meetups, drafting policy documents, building repositories and recruiting students, faculty & administrators to get involved in putting your new policy into practice.
      %li
        %h3
          Description of Adopt-a-Hydrant
        %p
          Adopt-an-Institution..
      %li
        %h3
          Obligations
        %p
          If you choose to ...
      %li
        %h3
          Termination of Obligations
        %p
          \...
      %li
        %h3
          Records Policy
        %p
          Registration data...
      %li
        %h3
          Member Conduct
        %p
          \...